<div class="flex">
  <div class="heading">
    <h2 class="heading-section">Kitsby Project's Terms of Use</h2>
    <p class="text">Last Updated: <span class="date">July 14,2022</span></p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">Agreement to terms</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ullam
      vero, obcaecati dolorem quae voluptatum nemo vel. Magnam possimus fuga
      delectus, eligendi accusamus necessitatibus placeat ut? Recusandae quod
      pariatur magnam impedit sunt laboriosam officia nisi in ducimus saepe eius
      dolorum quos iusto, dolores est, debitis itaque, voluptates ut cupiditate.
      Ipsa consectetur temporibus officiis ipsum qui praesentium a repellat
      tempora dolor doloremque, iste, voluptate esse tempore nihil recusandae et
      dignissimos consequatur neque cupiditate aliquam at illo enim provident?
      Iusto nisi est ut, facilis autem reprehenderit eveniet, quos id at nulla
      corporis commodi sunt. Explicabo molestiae reiciendis quas eius est
      distinctio tempore iure reprehenderit ratione nostrum omnis esse saepe
      harum, at facilis consequuntur vel vitae quibusdam enim possimus? Impedit,
      rem aspernatur, nesciunt dolorem quisquam illum modi error consequatur
      qui, excepturi sed enim fuga. Natus cupiditate maiores non a, commodi sit
      esse, delectus quis dolores quod consequatur dolore dignissimos ut sunt
      asperiores voluptas nulla corporis laboriosam? Iusto eaque nobis ipsa
      necessitatibus delectus sed saepe aut excepturi eius dolorum maxime neque
      et inventore velit, maiores itaque voluptatibus sequi impedit. Quidem
      officiis rem fuga ratione velit aperiam atque distinctio voluptas
      aspernatur ab in aut, beatae omnis similique nobis amet. Odit similique
      architecto quas! Pariatur placeat commodi quis enim necessitatibus
      architecto ea repudiandae odio delectus tempore voluptatum id illum quas
      ullam ipsa esse rem, quasi libero deserunt perferendis, magni dolor sequi
      sit debitis? Maiores, recusandae reiciendis harum tempora reprehenderit
      nesciunt maxime fuga quo debitis nemo! Accusantium, rem modi dolor
      corporis dolores nesciunt quam assumenda ullam natus, nobis animi
      provident similique sunt voluptas soluta libero? Tempore nemo doloremque,
      ut maxime molestiae, autem officia dicta sit quis deleniti aut praesentium
      cumque provident itaque ex eligendi, ullam debitis ipsa in eveniet fugiat
      sed? Ut dicta officiis beatae ea amet? Repellendus ratione obcaecati
      cumque similique adipisci eum consequuntur error aliquam rerum officiis at
      voluptatum minima modi veritatis, magni iste! Et eligendi voluptates,
      accusamus tempore fugiat at pariatur saepe! Similique dolorum officiis
      tenetur dolor minus quaerat voluptates commodi, ipsum eligendi animi, sit,
      in dignissimos labore aliquam fugiat perspiciatis maiores magnam cumque!
      Voluptatum, ipsum debitis. Ratione voluptas similique, sunt excepturi
      reiciendis pariatur officiis tenetur ducimus? Soluta saepe delectus
      necessitatibus rem quis quibusdam animi enim, ipsa minus veritatis neque
      quia sunt dignissimos molestiae, atque temporibus perspiciatis asperiores
      quisquam quam sit sint labore! Ullam, enim! Magnam maiores velit corrupti
      debitis animi veniam quos dolores molestiae culpa. Impedit odit unde, eum
      doloremque enim veniam laborum at, optio quibusdam incidunt aperiam
      explicabo eaque repudiandae dignissimos. In ut non deleniti recusandae
      neque quo officiis. Officiis amet aliquid, alias perspiciatis quam enim
      nobis recusandae nostrum omnis quisquam repudiandae tempore ducimus eum
      maxime labore. Accusamus, exercitationem recusandae. Sequi dolorum quod
      fuga laudantium et corrupti veritatis sit impedit eveniet iure voluptatum
      vitae blanditiis mollitia explicabo, aspernatur recusandae alias numquam
      illum rem? Deleniti, doloremque odio. Non laboriosam alias maiores, in
      possimus voluptatum ipsum, sed aliquam totam ab a provident perspiciatis
      cum consequatur incidunt qui deserunt libero. Nostrum delectus dolorum
      consequatur repellat quas quia odio ea, cupiditate asperiores optio
      perspiciatis eius voluptates voluptatum quidem culpa dignissimos minus
      corporis architecto dicta assumenda labore vitae doloremque omnis? Tempora
      dolorum aspernatur modi sint fugit repudiandae alias architecto.
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">1. Intellectual Propery Rights</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quae
      asperiores. At dignissimos ipsum quam doloribus suscipit cumque tenetur
      eum, quaerat sit ex vero officiis in inventore sequi autem ad. Veniam a
      neque odio minus? Beatae perferendis neque, odit reiciendis laborum
      possimus, vitae consequatur asperiores molestias eveniet, ratione dolores
      quam at saepe deserunt velit adipisci maxime iure explicabo libero quis
      architecto? Nemo laudantium quod molestias minus vel sequi nostrum itaque
      enim excepturi quisquam? Harum ratione cumque eius totam, alias vitae non,
      aliquam, exercitationem veritatis eveniet iusto sint quo labore et!
      Deserunt culpa iusto numquam reiciendis! Vitae amet hic impedit quam
      animi, labore id dolore dolores maxime accusantium, ullam illo sequi
      soluta dignissimos laudantium nisi aliquam? Animi facere voluptates dolore
      iusto laborum a recusandae ipsa, sint, debitis quibusdam explicabo?
      Molestias doloribus consequatur assumenda neque fuga quae nulla architecto
      tempora omnis voluptatem nam facilis labore nihil, dolorum quas error
      tempore pariatur! Facere sit doloribus unde accusantium veritatis id
      excepturi aspernatur sapiente atque officia, praesentium aperiam molestias
      quibusdam quod dolorem provident ratione. Fuga corporis quod aliquam quia
      est laboriosam eius, consequuntur earum ex? Alias cumque, tempore quasi
      magni enim nulla repellat. Inventore, cum. Excepturi odio adipisci ullam
      velit nemo dolor sequi perspiciatis reiciendis culpa sint! Voluptate
      soluta suscipit impedit aperiam voluptatibus ipsum veniam culpa ipsa, sint
      saepe ipsam dolorem libero ratione ad voluptatum nemo? Debitis soluta
      deleniti eveniet temporibus blanditiis quis nulla rerum, incidunt optio
      necessitatibus unde ipsum iure eos adipisci dolorum asperiores pariatur
      dignissimos illum est sint beatae, libero maiores itaque numquam? Aut
      mollitia veniam esse culpa asperiores modi facere nobis quis, ex excepturi
      quia dolor rem deleniti expedita vero facilis recusandae exercitationem
      eum sed enim consequatur. Beatae itaque dolorem aliquid cum, nostrum vel
      natus deserunt eveniet, ducimus laborum minima eos temporibus quis
      corporis nobis! Tenetur animi quae sequi quasi nostrum, odio vero, minima,
      exercitationem alias consequuntur saepe dicta at fugit porro
      necessitatibus autem voluptas! Molestias sint culpa doloribus molestiae,
      deserunt est similique suscipit ipsum cupiditate consequuntur harum fugiat
      nisi alias quis recusandae. Ipsa omnis labore sunt ullam voluptates. Iste
      dolorem ducimus minus laborum magnam consequuntur fuga placeat possimus a,
      aliquam blanditiis illo esse laudantium non dolor provident voluptatum ab
      labore vel explicabo repellendus alias aspernatur fugiat rem! Minus
      nostrum aut tenetur cum inventore perspiciatis ex dolore quas animi ut,
      facilis tempora sed quis nesciunt laborum quia illo labore totam quae
      vitae reiciendis delectus. Saepe laudantium, fugiat ipsa omnis aspernatur
      ad, velit deserunt est reiciendis iure iste obcaecati dignissimos, alias
      pariatur accusantium exercitationem. Quibusdam neque minus sit quis nulla
      doloremque accusamus consequuntur sapiente nesciunt?
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">2. User Representations</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cupiditate
      numquam, maxime alias id adipisci enim expedita corrupti aut, totam
      blanditiis quod sint? Ducimus commodi corrupti, aliquam non doloribus
      molestias voluptate fugit harum quia iste illum dolorum dolor dignissimos
      minus odit blanditiis repellat exercitationem temporibus? Aut harum
      provident, inventore laborum quos officia praesentium laboriosam sequi, ex
      non quasi, ea nulla maxime earum mollitia! Consequatur perferendis harum
      nesciunt autem dolor veritatis vel provident maxime est dolore
      necessitatibus repudiandae eius aliquid mollitia iure possimus, nam vero
      impedit veniam quae commodi facilis rerum exercitationem ut! Ipsam
      obcaecati, dolorum nam eum eveniet quibusdam iste.lorem100
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">3. User Registration</h3>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos ab deserunt
      aspernatur neque debitis enim modi veritatis iste maxime, voluptatum
      asperiores rem reiciendis dolorum sunt necessitatibus facilis. Ullam enim
      architecto consectetur culpa debitis tenetur, vitae illum ipsam a soluta
      sint eum quibusdam. Similique quae facere, nostrum praesentium nam odio
      explicabo! Adipisci aperiam ad deleniti earum architecto fuga dolores quod
      id laboriosam, modi optio odit eligendi praesentium placeat fugit est
      blanditiis aliquid dignissimos perspiciatis illo quisquam? Corporis
      similique possimus dicta aliquid. Labore quasi inventore earum sapiente
      laboriosam nisi incidunt? Dignissimos ut temporibus nam omnis quae debitis
      enim porro rerum distinctio? Voluptates explicabo incidunt illo esse
      repellat eveniet molestias assumenda, delectus placeat, ipsam sunt
      consectetur eaque veritatis aliquam voluptatem modi harum itaque culpa
      error praesentium minima officiis consequatur omnis corrupti! Ducimus eum
      et ea at nisi porro modi natus voluptate sit? Illo dolore ea iusto
      voluptate eos corporis, esse exercitationem doloremque tempore modi, totam
      autem ratione distinctio magnam. Dolorum exercitationem rem ut, dolores
      aspernatur ullam atque asperiores suscipit soluta assumenda deserunt a
      veritatis error! Neque ullam veniam possimus mollitia rerum sit quia nam
      consequuntur distinctio delectus laboriosam, voluptatibus vel eaque
      eveniet ab quae nulla facilis. Cum pariatur impedit aspernatur laborum
      necessitatibus rerum!
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">4. Accepted forms of payment</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quis vero,
      quae earum ipsam eveniet. Eos suscipit voluptates consequuntur odit
      corporis modi iure architecto perferendis dolore, nihil ducimus cumque a
      magni necessitatibus animi inventore, impedit qui laborum neque asperiores
      temporibus possimus. Perspiciatis fugit ex cum officia incidunt dolor?
      Inventore, quidem praesentium repellat ea dolore magni! Sequi deleniti
      recusandae illum quidem in. Aperiam voluptatum velit, temporibus quos odit
      tempora atque modi quam accusantium. Qui placeat, veritatis doloremque
      eaque et cupiditate possimus, facilis optio dicta minus modi enim
      quibusdam asperiores atque? Voluptas aperiam laboriosam veritatis quaerat,
      porro voluptates. Repellat veritatis libero deserunt repellendus
      voluptates harum iusto earum consequatur. Esse voluptas sequi tempore
      voluptates rerum, exercitationem fuga expedita et sapiente ex distinctio
      debitis at explicabo consequatur amet, recusandae provident delectus
      perferendis impedit nulla iste eaque sit. Eos ratione corporis nihil non,
      commodi, laborum est asperiores dolorum, vero voluptatem iusto sed eum.
      Eligendi nesciunt neque assumenda et sapiente. Fugiat similique nobis
      corrupti fugit dolor ipsam officiis facilis illum nostrum? Reprehenderit
      quidem, error cupiditate itaque optio mollitia id cum ipsa magnam
      doloribus molestiae quaerat quod vel quisquam repellat nulla modi, quis
      iure. Laudantium, porro. Distinctio ea aliquid doloremque recusandae animi
      maiores voluptatem, sit ex impedit?
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">5. Deposit in our website</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      explicabo voluptatem odio mollitia adipisci nemo enim veniam at eligendi
      aspernatur? Dolorum repudiandae dignissimos tempora perferendis assumenda
      dolore iste est velit voluptate provident iusto mollitia, sunt repellendus
      consequatur libero aliquam veritatis blanditiis? Veritatis ipsum
      reprehenderit nihil, dolorum minima adipisci fuga voluptate cum, corporis
      eveniet similique cumque nemo ipsam ad aperiam fugit consequuntur dolor?
      Ratione exercitationem totam ullam inventore? Vitae fuga cupiditate totam
      aspernatur rerum officiis dolorum, incidunt illo voluptatum facere nostrum
      accusamus perspiciatis corporis minima quaerat quasi et laudantium!
      Quisquam autem, amet neque dignissimos, reprehenderit molestiae expedita
      eius, accusamus qui nemo corporis fuga totam cumque? Odio voluptas itaque
      commodi, ipsam rem natus laborum quisquam tempore maxime adipisci
      temporibus nulla dolor, libero esse molestiae illum. Aut eaque error
      ducimus. Nemo corrupti asperiores voluptates! Doloremque mollitia vitae
      totam provident, consequuntur dolor, laudantium quo ea molestias ad
      eligendi sit, maxime at blanditiis quos explicabo ratione quam? Dolor
      iusto minima voluptas veritatis blanditiis. Voluptatum, laboriosam
      tempora. Iusto officiis quam quisquam recusandae exercitationem quos,
      ipsam deleniti consequatur quod dignissimos, a, voluptatum odio non
      doloremque corrupti tempore cumque illo quibusdam consequuntur! Nihil,
      temporibus. Velit quos rerum voluptatum nihil eius iste, in eveniet!
      Quidem in ipsum, et nulla veniam temporibus nostrum enim laudantium totam
      nisi sequi adipisci tempore. Mollitia beatae itaque natus ipsa nihil
      repellat cumque ipsam recusandae hic in amet aspernatur quos aliquid quas,
      assumenda quisquam odit, excepturi magni ea aperiam! Quidem earum nihil
      modi accusantium rem facere adipisci quia at assumenda autem suscipit
      ipsum, laboriosam beatae quos consectetur temporibus deserunt, est itaque,
      possimus similique repudiandae ipsa sequi! Laborum saepe tempora similique
      excepturi ipsam, nisi dolore itaque non et porro doloremque, quia dolor
      doloribus cum ad cupiditate fuga aperiam amet asperiores eos minus dolorem
      ipsa quibusdam. Voluptas velit aliquid laudantium placeat quod similique,
      omnis rerum dolorum reprehenderit?
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">6.How do you make money?</h3>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse laudantium,
      cum architecto quisquam a dignissimos totam eos, enim obcaecati, sit
      commodi dolor libero. Commodi hic tenetur ipsa voluptas esse? Eos tenetur
      doloremque natus sed quaerat commodi quidem ratione nemo pariatur qui
      perspiciatis fuga officiis expedita, sunt assumenda facilis, odio sit eum
      enim laborum soluta! Velit sint, mollitia voluptatibus deleniti aut
      voluptates minima earum quos, voluptate amet deserunt ducimus nostrum est
      animi nulla ab optio quisquam ad excepturi voluptatem praesentium
      doloremque esse! Suscipit excepturi amet explicabo distinctio consequuntur
      odio qui vero, laboriosam blanditiis numquam expedita veritatis ipsam
      perspiciatis voluptas facilis? Aliquam quidem nostrum consequatur,
      obcaecati autem alias, earum eveniet possimus repudiandae error natus
      nihil consectetur eius velit. Quod rem expedita praesentium asperiores
      soluta repellendus corporis officiis nobis temporibus placeat cumque
      tempore debitis hic similique modi ad, blanditiis aliquam. Nostrum natus
      accusantium, laboriosam similique distinctio asperiores nisi omnis autem
      ullam quidem, placeat reprehenderit recusandae doloremque? Soluta
      voluptates dignissimos corrupti! Recusandae consectetur amet itaque, totam
      minima odio. Quo, qui illo. Quaerat natus maiores magni voluptatibus
      impedit quibusdam facere, deleniti harum voluptates iste atque dolor saepe
      dolore alias dolorem voluptas officiis obcaecati consequatur reprehenderit
      ex mollitia corrupti? Iusto doloribus aspernatur vel nemo, numquam et iste
      aperiam rerum quod quaerat eos recusandae. Eveniet laborum similique, amet
      suscipit temporibus corporis neque magnam sunt, dolorum nesciunt labore
      nobis rerum officia natus ea officiis impedit tempora asperiores ab eum
      nulla quae, placeat voluptas. Fugiat atque dolorem in praesentium,
      dignissimos doloremque dolorum cumque, provident amet consequuntur harum
      at recusandae incidunt fugit! Nobis odio temporibus tempora ratione natus
      amet architecto obcaecati, id saepe officia facilis blanditiis dolorem
      incidunt sequi quis. Dolorem suscipit quasi, nam sunt dolores repellendus
      laudantium praesentium sint, illo non ducimus dignissimos quisquam?
      Nostrum alias, ipsam quibusdam quae facere similique repudiandae, porro
      voluptate veniam mollitia dignissimos illum distinctio quaerat neque
      sapiente iure illo eligendi perspiciatis est vitae deleniti, sed a quo? Ad
      eos suscipit, debitis asperiores sit accusamus officia, distinctio
      deleniti perspiciatis omnis vel iusto enim quis. Corporis aperiam
      temporibus cum amet ipsum! Laudantium aliquam ea suscipit placeat
      veritatis expedita id. Qui accusantium odit, molestiae eius ducimus
      sapiente non officia quisquam illo voluptatum repudiandae maiores
      assumenda reiciendis quos porro quo! Magni autem aspernatur minus, minima
      aut commodi vitae nobis laudantium mollitia. Aliquam mollitia minus sed
      quisquam officia, nihil quae reiciendis, distinctio natus corrupti
      perferendis voluptates, repudiandae rerum ducimus molestiae eum
      exercitationem dolorum hic sapiente deserunt voluptatem vel possimus?
      Inventore deserunt numquam aperiam aut dolor nemo minus, ipsam quam error
      nisi ducimus odio odit nam officiis ad consectetur cum recusandae ut. Et
      voluptate praesentium enim quos, laudantium magnam maxime laboriosam ab
      facilis sint facere, natus eveniet molestias voluptas. Debitis optio dicta
      dolor possimus ab, et porro quae quisquam sed minus tempora sapiente
      inventore. Numquam quam dolorum magnam delectus, minima temporibus
      laboriosam necessitatibus pariatur saepe vero quod rerum cupiditate
      inventore, porro amet magni id in? Et libero dolorum eius voluptatum? Ad,
      repellat. Molestias, modi? Inventore eaque placeat nemo voluptatem
      nesciunt aliquid consequatur exercitationem ex? Explicabo et fugiat
      architecto quisquam ex?
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">VIP PASS explanation</h3>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis totam,
      maiores aut cupiditate cum consequuntur perspiciatis magnam libero
      commodi! Odit at unde ullam labore ipsa fugiat maiores, soluta deleniti
      ipsum doloribus. Provident odio ipsum quisquam eius aperiam omnis corrupti
      fugit voluptate, esse atque impedit at laborum illum obcaecati asperiores
      non harum eaque cupiditate! Accusamus et omnis perspiciatis expedita quia
      veritatis dolores, esse debitis repellat doloremque consequatur sint quis
      corporis in quo consectetur consequuntur, fugiat ratione nihil nobis.
      Accusantium placeat aperiam aliquam praesentium nostrum ad, delectus
      obcaecati qui id fugiat doloremque vel, repudiandae unde ipsa quasi,
      consequatur similique veritatis nisi vitae architecto quia voluptatibus
      excepturi? Doloremque repellat nostrum totam dolor accusantium eius,
      reprehenderit earum optio reiciendis quam, quis adipisci labore beatae
      mollitia? Natus, doloribus expedita.
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">8. Referral system</h3>
    <p class="text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae nihil
      magnam vel soluta sit recusandae, cum voluptas molestiae repudiandae
      maxime ex itaque, ullam sint sapiente temporibus doloribus quas doloremque
      saepe. Soluta odit perferendis saepe facere dolorum consequatur earum
      voluptates error numquam aliquam. Praesentium labore, eum aliquam quos
      harum, officiis rem odit omnis expedita, ab fugit sed quasi incidunt
      voluptatem cumque ipsum id? Quibusdam totam nostrum animi! Distinctio
      suscipit nesciunt eum fugiat, excepturi fuga maiores optio possimus earum
      dolores, iure error, reiciendis sapiente? Quasi veniam ipsum tempore
      pariatur aliquid modi sapiente nisi voluptatum necessitatibus dolorem
      cupiditate veritatis, praesentium cum recusandae similique reprehenderit
      asperiores laboriosam sed fugit aspernatur atque obcaecati sint. Possimus
      natus aliquid error nesciunt repellendus dolore reiciendis adipisci
      deleniti repellat inventore dignissimos quod quo sunt, ad doloremque.
      Minus quae explicabo sapiente saepe pariatur, libero illo ipsam ab! Vero,
      cum autem voluptates dicta, eius praesentium quasi pariatur odio, voluptas
      totam laudantium fuga numquam tempore? Pariatur, quod. Hic, aliquid
      deleniti asperiores modi sit amet doloribus ad odit consectetur minima quo
      provident rem? Necessitatibus inventore deserunt repellat corporis
      consequuntur natus cupiditate, asperiores maxime, excepturi vero porro
      nisi iusto! Quasi, labore harum molestiae dolorum dicta incidunt, officia
      eligendi fugit maxime saepe perspiciatis cumque nemo, quam eum? Vitae,
      accusamus modi sapiente exercitationem illo ipsum quidem hic quibusdam
      facilis quae nam perferendis incidunt, sunt ipsam nihil excepturi sint
      assumenda non iusto minus nulla laudantium possimus quis. Quibusdam
      eligendi delectus doloribus consequuntur molestias optio fugiat cupiditate
      est unde corporis ab voluptatum tempore adipisci veniam ad aspernatur iure
      placeat incidunt necessitatibus alias itaque quidem ipsam, reprehenderit
      iusto. Magni praesentium non ipsa error quaerat architecto distinctio
      possimus hic eius repellat, quod sint nisi, quibusdam ducimus voluptatibus
      soluta quae quo nulla deleniti. Nobis, odit nesciunt? Laudantium vel omnis
      nulla illum.
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">9. Withdrawal rules</h3>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, asperiores
      quibusdam accusantium ipsum sapiente aperiam. Temporibus eaque magnam
      beatae sit modi cupiditate necessitatibus provident nesciunt, expedita
      quidem porro officia voluptas numquam? Quisquam porro quas optio enim
      mollitia, rem, repellat unde, nemo magnam dolores eaque illum placeat
      error aspernatur voluptatem repudiandae cupiditate labore itaque commodi
      at. Perferendis omnis adipisci itaque eveniet dicta? Dignissimos vero
      mollitia nobis a voluptas fuga, sed molestias culpa veritatis iste
      blanditiis, eaque, molestiae expedita? Nihil facere dolores eligendi sequi
      iusto sed, aspernatur, amet eum enim exercitationem optio deserunt
      mollitia architecto reprehenderit, commodi doloribus libero eius?
      Voluptatum fugiat eum dolore, enim veritatis alias possimus illum laborum
      ducimus provident assumenda ut nemo delectus neque deleniti libero
      incidunt quia ratione voluptate debitis consequatur sequi maiores
      voluptates eaque? Dolores eligendi vitae magni, facere atque porro
      officiis similique velit aspernatur saepe laboriosam vero in accusamus ex
      veritatis voluptatem deleniti aperiam. Assumenda alias accusantium
      repudiandae tenetur, suscipit molestiae nam, fugiat nemo possimus quam
      maiores saepe quas. Reprehenderit tempora necessitatibus odio alias,
      doloremque quibusdam ducimus architecto veritatis velit iure id nobis
      voluptatibus dolorem vitae minima? Rem doloribus culpa blanditiis omnis
      nostrum est suscipit obcaecati fuga optio magni dignissimos unde
      laboriosam nulla, nisi fugit velit inventore, qui voluptas amet?
      Laboriosam ullam corporis recusandae illo dolore animi accusantium,
      voluptatum sapiente atque delectus quam repudiandae fuga earum natus, in
      exercitationem beatae? Explicabo ducimus recusandae laborum reprehenderit
      fugiat laudantium incidunt repellat dicta tempora repudiandae dignissimos
      officia architecto quidem expedita quasi inventore, beatae nam voluptate
      quaerat praesentium est doloribus! Natus eius distinctio corrupti
      inventore, maxime voluptatum voluptatem ut non corporis cupiditate facilis
      laboriosam nesciunt facere quasi similique. A veniam minus corporis
      dolorum quae ullam nemo eaque dignissimos perferendis, tempore maiores
      ducimus modi numquam. Nobis pariatur impedit sunt eveniet beatae.
    </p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">10. Sign Up Bonus</h3>
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit magni
      alias, nobis voluptatibus in ut id atque consequuntur rem quasi?
      Asperiores fuga voluptatum in quaerat. Quo omnis molestiae, vel alias
      expedita illum rerum explicabo eum quasi autem consectetur, nostrum saepe
      temporibus, vitae inventore id aut. Inventore eum maxime vero doloremque
      ducimus ex aut odio nihil sed optio beatae fugiat esse ratione iure,
      consequuntur facilis reprehenderit nulla magni. Ea vel placeat distinctio
      iusto a provident maiores magni autem ipsum quae, quam, rem nostrum
      dolorum. Id fuga quis odio soluta beatae optio dolor, aspernatur
      recusandae tenetur modi eum eveniet cumque deleniti. Debitis omnis porro
      quasi dolorem fugit repudiandae necessitatibus vitae illo dolores,
      molestias molestiae nisi ipsam nulla recusandae rem saepe? Totam voluptate
      reiciendis commodi ea, ex eius quae vitae quis exercitationem eveniet
      quidem repellendus aperiam fugiat excepturi soluta corporis laborum
      dignissimos? Repudiandae tenetur minus molestias nemo iste atque iusto
      dolorum officiis asperiores officia quisquam mollitia corporis, reiciendis
      esse. Labore, aspernatur distinctio odio velit voluptate ab possimus
      debitis dicta neque, expedita sint reiciendis explicabo facere a! Ad nisi
      quod veritatis soluta. Nostrum, ab. Provident soluta sunt neque culpa
      voluptatibus consectetur obcaecati nam veniam ducimus! Reprehenderit eos
      perferendis ex, pariatur harum itaque quo animi.
    </p>
    <p></p>
  </div>
  <div class="paragraph-box">
    <h3 class="heading-section">10. Cashback Bonus</h3>
    <p class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
      exercitationem, vel saepe ad autem modi. Dolorum consequuntur deserunt
      maiores aut pariatur accusamus officiis quia dolores aliquam eos dicta
      porro tenetur, excepturi corporis repellendus accusantium et! Vitae ea,
      amet atque animi beatae id, rerum minus veniam ab alias voluptatibus culpa
      vel sint laboriosam enim ut quibusdam! Qui similique a magni quis eum,
      harum iste, sint, sapiente consectetur maiores voluptatibus doloribus
      labore dolor atque commodi! Illum eligendi quaerat asperiores magni quas
      nam unde pariatur harum explicabo nesciunt ex nostrum autem vero nisi
      eveniet, ipsam delectus. Dicta rem, voluptas, sequi recusandae autem amet
      ducimus eaque quo eveniet architecto beatae consequuntur perferendis ut
      iure assumenda doloremque impedit tempora, illo accusantium mollitia velit
      at nam enim? Aspernatur ut ipsa sit amet odit illo perferendis atque
      fugiat perspiciatis. Voluptatum aliquid, voluptate reiciendis repellat
      quisquam quod dolore hic nobis, quos dolorum animi culpa magnam ratione
      molestias, dolores accusantium voluptas obcaecati a recusandae! Iusto
      deserunt alias architecto qui, molestias quae ducimus fugit ullam
      voluptate dicta autem quia obcaecati fuga ipsa maxime nobis harum ad velit
      vel enim quibusdam veniam corporis porro. Aliquid maxime fuga, laudantium
      laboriosam repellendus distinctio? Dolorum, qui vero impedit mollitia
      voluptas reiciendis nulla accusamus dolore?
    </p>
    <p></p>
  </div>

  <div class="paragraph-box">
    <h3 class="heading-section">11. CONTACT US</h3>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae,
      doloribus! Maxime ea voluptates fugiat mollitia nesciunt molestias beatae
      ab perspiciatis nihil, veniam obcaecati similique iure odit vel dolore
      consequuntur architecto. Ut sed sapiente obcaecati ullam aliquam?
      Provident voluptatem iste vero placeat beatae deleniti! Animi libero
      voluptatem cupiditate exercitationem ullam labore corrupti at vitae
      consectetur. Facere harum laudantium voluptatem beatae sunt earum! Dolorem
      incidunt aut libero quo omnis rem expedita inventore eligendi accusantium
      maxime temporibus doloremque eaque, et harum perspiciatis accusamus odio
      numquam officia non assumenda vel dolore ex tempore. Possimus maiores
      aliquam neque tempore laudantium! Corporis cupiditate reprehenderit
      excepturi repudiandae quaerat dolores asperiores iure consequuntur
      perspiciatis aperiam at ullam sint eaque quos distinctio consequatur,
      beatae magnam numquam libero, veritatis, atque odio expedita. Suscipit,
      unde? Explicabo quidem aspernatur assumenda voluptatum alias impedit
      beatae vel, nihil quo quod accusantium nulla maiores ipsa, dolorum dolor
      accusamus aperiam ut similique reiciendis sed amet aut quaerat itaque.
      Laborum distinctio vero soluta quisquam recusandae fugit maxime
      necessitatibus debitis velit sequi sapiente hic quibusdam quam dignissimos
      eius corporis asperiores vel laboriosam libero excepturi assumenda,
      aliquam iste. Aspernatur quod quibusdam iste illum nostrum esse quia
      tempore modi, illo quidem quis? Magni odit fugit ullam minus quae
      laboriosam hic?
    </p>

    <div class="flex-btns">
      <a class="btn">Support 1</a>
      <a class="btn">Support 2</a>
      <a class="btn">Group</a>
    </div>
  </div>
</div>
